[submodule "CriticalCommonLib"]
	path = CriticalCommonLib
	url = https://github.com/Critical-Impact/CriticalCommonLib.git
[submodule "LuminaSupplemental"]
	path = LuminaSupplemental
	url = https://github.com/Critical-Impact/LuminaSupplemental.git
